h1 a, h2 a {
    color: #C25100;
}

table.scrollable-content tbody tr{
    overflow:auto;
    display:block;
    height:200px;
  }
  table.scrollable-content tbody tr div{
      animation-name: example;
      animation-duration: 5s;
  }
  table.scrollable-content tbody tr:hover div{
      animation-name: example2;
      animation-duration: 5s;
  }
  
  @keyframes example {
      from {background-color: rgba(77, 224, 217, 0.924);}
      to {
        background-color: rgba(150, 0, 250, 0.5);
         transform:translateY(-200px)
      }
  }
  @keyframes hovered {
      from {background-color: rgba(57, 143, 241, 0.5);}
      to {
        background-color: rgba(138, 214, 67, 0.5);
         transform:translateY(-200px)
      }
  }


  /* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }